<script lang="ts">
export default {
  name: "BaseComment",
};
</script>

<script setup lang="ts">
export interface CommentItem {
  comment: string;
  replies?: CommentItem[];
}
defineProps<{
  item: CommentItem;
}>();
</script>

<template>
  <li>
    <span class="comment">{{ item.comment }}</span>
    <ul class="replies" v-if="item.replies && item.replies.length">
      <div :key="index" v-for="(subItem, index) in item.replies">
        <BaseComment :item="subItem" />
      </div>
    </ul>
  </li>
</template>
