<script setup lang="ts">
import BaseComment from "./components/BaseComment.vue";
import type { CommentItem } from "./components/BaseComment.vue";
import { ref } from "vue";

const comments = ref<CommentItem[]>([
  {
    comment: "First comment",
    replies: [
      {
        comment: "sub-comment 1 for comment 1 - hey",
        replies: [
          {
            comment: "sub-sub-comment 1",
            replies: [
              {
                comment: "sub-sub-sub-comment 1",
              },
              { comment: "sub-sub-sub-comment 2" },
            ],
          },
          { comment: "sub-sub-comment 2" },
        ],
      },
      { comment: "sub-comment 2 for comment 1" },
    ],
  },

  {
    comment: "Second comment",
    replies: [
      {
        comment: "sub-comment 1 for comment 2",
        replies: [
          { comment: "sub-sub-comment 1" },
          { comment: "sub-sub-comment 2" },
        ],
      },
      { comment: "sub-comment 2 for comment 2" },
    ],
  },
]);
</script>

<template>
  <ul v-for="(item, index) in comments" :key="index" class="comments">
    <BaseComment :item="item" />
  </ul>
</template>

<style>
.comments ul {
  padding-left: 16px;
  margin: 6px 0;
}
</style>
